/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы 
особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--background-image-lines) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-image-lines) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, var(--background-image));
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-variation-settings: "wght" var(--text-font-weight);
}

.button {
  padding: 0;
  background-color: transparent;
  border: var(--border);
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.header {
  margin-inline: auto;
  margin-block-end: 100px;
  width: var(--content-width);
  background-color: var(--background-color);
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 126px;
  font-family: var(--accent-font),"MedievalSharp", "Courier New", sans-serif;
  text-transform: uppercase;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.logo__title {
  font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  text-decoration: none;
}

.logo__title:focus {
  outline: none;
}

.logo__title-second {
  font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
}

.main {
  margin: auto;
  width: var(--content-width);
  display: grid;
  gap: 50px;
}

.card {
  background-color: var(--background-color);
  border: var(--border);
  display: grid;
  width: clamp(0px, 100%, 698px);
  margin: 0 auto 51px;
}

.card__title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 1.125rem;
}

.card__image-block {
  display: grid;
  overflow: hidden;
  border-block: var(--border);
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-saturate-low {
  filter: saturate(0.2);
}

.filter-saturate-high {
  filter: saturate(3.5);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(0.9);
}

.filter-blur {
  filter: blur(10px);
}

.filter-complex {
  filter: hue-rotate(90deg) blur(2px) opacity(0.7) brightness(0.6);
}

.label {
  position: absolute;
  justify-self: end;
  margin-block-start: max(23px, 1.736%);
  margin-inline-end: max(11px, 1.736%);
  color: var(--accent-color);
  font-family: var(--accent-font),"MedievalSharp", "Courier New", sans-serif;
  font-size: 0.875rem;
  font-weight: var(--title-font-weight);
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--backdround-color))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__text-block {
  padding: 25px;
  display: grid;
  gap: 27px;
  font-size: 1.125rem;
  line-height: 117%;
}

.card__button-block {
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  display: block;
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font),"MedievalSharp", "Courier New", sans-serif;
  font-size: 14px;
  line-height: 90%;
}

.button__text_close {
  text-transform: uppercase;
}

.save-button {
  margin: auto;
  padding: 15px 18px;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.save-icon {
  width: 21px;
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.dialog[open] {
  width: 357px;
  padding: 30px;
  border: var(--border);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px 20px;
}

dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog__icon {
  color: var(--accent-color);
  width: 39px;
}

.dialog__title {
  color: var(--accent-color);
  font-family: var(--accent-font),"MedievalSharp", "Courier New", sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button-form {
  grid-column: 1 / 3;
}

.dialog__button {
  width: 293px;
  height: 38px;
}

@media ((hover: hover) and (pointer:fine)) {
  .button:hover::before {
    transform: scale(1, 1);
  }

  .theme-menu__button:hover {
    opacity: 0.6;
  }

  .like-icon:hover .core {
    fill: var(--accent-color);
    transition: fill 0.3s linear;
  }

  .like-icon:hover .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s linear;
  }

  .like-icon:active .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
  }

  .like-icon:active .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.05s linear;
  }

  .like-icon.is-liked .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
  }

  .like-icon.is-liked .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.05s linear;
  }

  .like-icon.is-liked .contour {
    fill: var(--heart-fill-color);
    transition: fill 0.3s 0.06s linear;
  }

  .like-icon.is-liked .heart {
    animation: heart-scale 0.3s 0.1s ease-in alternate;
  }

  .like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in alternate;
  }
}

@media (width <= 376px) {
  .header {
    padding-top: 118px;
    padding-bottom: 119px;
  }

  .save-button {
    grid-template-columns: auto;
    justify-items: center;
  }

  .save-icon {
    width: 28px;
  }

  .dialog[open] {
    width: 341px;
    padding-inline: 38px;
  }

  .dialog__button {
    width: 257px;
  }
}
